html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

button,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0px;
  padding: 0px;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #0050b3;
  padding: 8px 0 8px 0;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  max-width: 336px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.search-form__input {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
}

.search-form__input::placeholder {
  padding: 5px 0px 5px 12px;
  color: #bfbfbf;
}

.search-form__button {
  background-color: transparent;
  border: none;
}

.search-form__button-svg {
  width: 13px;
  height: 13px;
  fill: #8c8c8c;
}

.search-form__button-svg:hover {
  fill: #0050b3;
  transition: 0.2s linear;
}

.user {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.user__img {
  margin-right: 12px;
}

.top-navigation {
  display: flex;
  align-items: center;
}

.top-navigation-list {
  display: flex;
}

.top-navigation-list__item {
  display: flex;
  justify-content: center;
  margin-right: 12px;
}

.top-navigation-list__item::after {
  display: inline-block;
  content: "";
  background: #003a8c;
  width: 1px;
  height: 16px;
  margin-left: 12px;
}

.top-navigation-list__item-link {
  color: inherit;
}

.top-navigation-list__item-link:hover {
  color: #bfbfbf;
  transition: all 0.2s linear;
}

.icons-list {
  display: flex;
  align-items: center;
}

.icons-list__item {
  display: flex;
  align-items: center;
}

.icons-list__item:nth-child(3)::after {
  display: inline-block;
  content: "";
  background: #003a8c;
  width: 1px;
  height: 16px;
  margin-left: 12px;
}

.icons-list__item:not(:last-child) {
  margin-right: 12px;
}

.icons-list__item-svg {
  height: 24px;
  width: 24px;
  fill: #002766;
}

.icons-list__item-svg:hover {
  fill: #ffffff;
  transition: 0.2s linear;
}

.dropdown {
  height: 16px;
  width: 16px;
}

/* main */
.flex-container {
  display: flex;
}

.main {
  padding-top: 16px;
  background-color: #e5e5e5;
}

.menu-sidebar {
  display: flex;
  width: 192px;
  flex-direction: column;
  margin-right: 18px;
}
.user-menu {
  margin-bottom: 12px;
}

.user-menu__image {
  height: 24px;
  width: 24px;
}

.nav-group-title {
  margin: 0;
  margin-bottom: 12px;
}

.nav-group-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
}

.nav-group-list__item-img {
  margin-right: 8px;
}

.nav-group-list__item-link {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  display: flex;
  align-items: center;
}

.nav-group-list__item:hover {
  background: #ffffff;
}

.nav-group-list__item:hover .nav-group-list__item-link {
  color: #262626;
  font-weight: bold;
}

.nav-group-list__item-svg {
  height: 16px;
  width: 16px;
  fill: #bfbfbf;
  margin-right: 8px;
}

/* mainfeed */
.mainfeed {
  width: 588px;
}

.post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mainfeed-title {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 9px 0 9px 16px;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 16px;
}
